/* .label {
	font-size: 48px;
	font-weight: 800;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
} */

.green {
	background: linear-gradient(to right, #8efa60, #a855f7);
	font-size: 48px;
	font-weight: 800;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.red {
	background: linear-gradient(to right, #fa6060, #a855f7);
	font-size: 48px;
	font-weight: 800;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.blue {
	background: linear-gradient(to right, #627ff4, #a855f7);
	font-size: 48px;
	font-weight: 800;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
