.information {
	margin-bottom: 32px;
}

.status {
	text-align: center;
	font-size: 24px;
	color: #0afff0;
	padding: 10px 20px;
	background: #0a101f;
	border: 1px solid #0afff0;
	border-radius: 12px;
	display: inline-block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
