.app {
	margin: 0 auto;
}
/* 
.appLabel {
	font-size: 48px;
	font-weight: 800;
	background: linear-gradient(to right, #fa6060, #a855f7);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
} */
